<div class="container">


  <div class="text-center">


    <br/>
    <br/>

    <h1>
      <img src="https://a.travel-assets.com/flex/public/ANS/Dynaflex/Images/Flights/UA_UnitedAirlines-Banner_658x200.jpg" alt="Flight search">
    </h1>

    <br/>
    <br/>


  </div>
  <br/>

  <div style="width: 80%; margin: auto; padding-bottom: 50px;">


    <br/>
    <br/>


    <form [formGroup]="angularForm" novalidate>
      <div class="form-group text-center">
        <label>Destination Port: <input class="form-control" formControlName="destination" type="text"></label>

        <label>Origin Port: <input class="form-control" formControlName="origin" type="text"></label>
      <br/>
        <label>Flight Number: <input class="form-control" formControlName="flightNumber" type="text"></label>

        <label>Arrival/Departure Date* : <input class="form-control" formControlName="fdate" type="date"></label>


      </div>
      <br/>

      <button (click)="submitSearch()" [disabled]="angularForm.pristine || angularForm.invalid" class="btn btn-success">
        Search
      </button>


      <br/>
      <br/>

      <div class="alert alert-warning"> {{message}} </div>


      <br/>
      <br/>


    </form>
    <br/>


    <div *ngIf="flights?.length > 0">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            Flight Number
          </th>
          <th>
            Carrier
          </th>
          <th>Origin</th>
          <th>Departure time</th>
          <th>Destination</th>
          <th>Arrival time</th>
          <th>Status</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flight of flights  ">

          <td>
            {{flight.flightNumber}}
          </td>
          <td>
            {{flight.carrier}}
          </td>
          <td> {{flight.origin}} </td>
          <td> {{flight.departure}} </td>
          <td> {{flight.destination}} </td>
          <td> {{flight.arrival}} </td>
          <td> {{flight.status}} </td>

        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
